[submodule ".vim/plugged/vim-startify"]
	path = .vim/plugged/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule ".vim/plugged/onedark.vim"]
	path = .vim/plugged/onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule ".vim/plugged/vim-polyglot"]
	path = .vim/plugged/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/plugged/vimsence"]
	path = .vim/plugged/vimsence
	url = https://github.com/vimsence/vimsence
[submodule ".vim/plugged/vim-fugitive"]
	path = .vim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/plugged/typescript-vim"]
	path = .vim/plugged/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule ".vim/plugged/html5.vim"]
	path = .vim/plugged/html5.vim
	url = https://github.com/othree/html5.vim
